
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
   
}


.conteiner {
    width: 100%;
}
#conteiner {
    padding-top: 70px;
    margin: 0 15%;
}

#button {
    margin-bottom: 20px;
}
#bannerlivros {
    height: 20%;
    margin: 0 auto;
    padding-top: 40px;
}
.styled-table {
  
    
    font-size: 1.1em;
    font-family: 'DM Sans', sans-serif;
    min-width: 500px; 
    
    width: 100%; 
    border-collapse: separate;
    border-spacing: 0 7px;
    font-weight: 500;
}

.styled-table thead tr {
    
    color: rgba(128, 128, 128, 0.729);
    text-align: left;
    font-size: 15px;
    font-weight: 200;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    transition: background-color 0.3s, box-shadow 0.3s; 
    background-color: #f7f1ec ;
    
    
}
.styled-table td {
    color: #303151;
}


.styled-table tbody tr:hover {
    background-color: #f0e7e0 ;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#button button {
    height: 30px;
    width: 80px;
    border: none;
    color: white;
    background-color: #5a6697;
    border-radius: 5px;
    text-align: center;
    padding: 3px;
}

#button a {
    color: white;
}
#Imagem img{
    width: 60px;
    border-radius: 5px;
    transition: 0.4s;
}

#shadow:hover {
   
    width: 70px;
}


    @media all and (max-width: 768px) {
        
    
        .styled-table thead {
            display: none; 
        }
    
        .styled-table tbody tr {
            display: block; 
            margin-bottom: 20px; 
            border: 1px solid #dad6eb; 
            border-radius: 10px; 
            background-color: #fff; 
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            padding: 10px;
            border: 2px solid #5a6697;
            width: 80%;
        }
    
        .styled-table tbody tr td {
            display: flex; 
            justify-content: space-between; 
            padding: 10px; 
            text-align: left; 
            overflow: hidden; 
            word-wrap: break-word; 
        }
    
        .styled-table tbody tr td:before {
            content: attr(data-title); 
            font-weight: bold; 
            text-align: left; 
            display: inline-block;
            width: 50%; 
            margin-right: 10px;
        }
        
    }
    
    @media screen and (max-width: 1150px) {
    
        #conteiner{
            margin-left: 10%;
            margin-right: 10%;

        }
      
    }

